.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: black; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: white; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

html {
	background-color: LightBlue;
}

h1 {
	padding: 0px 0px 15px 0px;
	text-align: center;
	margin: auto;
	font-size: 50px;
	font-style: comic;
}

.game {
	position: relative;
	width: 1110px;
	height: 840px;
	margin: auto;
	float: center;
	border: 5px solid Black;
	border-radius: 25px;
	background-color: LightGrey;
}

.menu {
	font-size: 20px;
	display: inline-block;
	margin: 20px 10px 20px 20px;
	width: 200px;
	height: 800px;
}

span {
	display: inline-block;
	float: right;
}

#length {
	text-align: right;
	color: red;
}

#score {
	text-align: right;
	color: red;
}

#start {
	position: absolute;
	left: 46%;
	top: 43%;
	font-size: 75px;
	font-family: sans-serif;
	color: white;
	cursor: pointer;	
}

#canvas {
	background-color: Black;
	display: inline-block;
	margin: 20px 20px 20px 10px;
	width: 800px;
	height: 800px;
	border: 2px solid White;
	float: right;
}

#block {
	width: 10px;
	height: 10px;
	border: 1px White;
	background-color: red;
}
.ui-widget-content {
	margin: 0x;
}

a:hover {
	color: pink;
}

footer {
 text-align: center;
}