.slidecontainer {
  width: 100%; 
}

.slider {
  -webkit-appearance: none;  
  appearance: none;
  width: 100%; 
  height: 25px; 
  background: black; 
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px;
  height: 25px;
  background: white; 
  cursor: pointer; 
}

html {
	background-color: LightBlue;
}

h1 {
	padding: 0px 0px 15px 0px;
	text-align: center;
	margin: auto;
	font-size: 50px;
	font-style: comic;
}

.borderButton{
	cursor: pointer;
}

.game {
	position: relative;
	width: 1110px;
	height: 840px;
	margin: auto;
	float: center;
	border: 5px solid Black;
	border-radius: 25px;
	background-color: LightGrey;
}

.menu {
	font-size: 28px;
	display: inline-block;
	margin: 20px 10px 20px 20px;
	width: 235px;
	height: 800px;
}

#length {
	text-align: right;
	color: red;
}

#score {
	text-align: right;
	color: red;
}

#start {
	position: absolute;
	left: 46%;
	top: 43%;
	font-size: 75px;
	font-family: sans-serif;
	color: white;
	cursor: pointer;	
}

.colorpicker{
	float: right;
	display: inline;
}
	
.info{
	float: right;
	display: inline;
	color: blue;
}

#canvas {
	background-color: Black;
	display: inline-block;
	margin: 20px 20px 20px 10px;
	width: 800px;
	height: 800px;
	border: 2px solid White;
	float: right;
}

#block {
	width: 10px;
	height: 10px;
	border: 1px White;
	background-color: red;
}

.onoff{
	float: right;
	display: inline;
	width: 52px;
	height: 28px;
}

.onoff input{
	opacity: 0;
	width: 0;
	height: 0;
}

.onoff .slider {
	float: left;
	cursor: pointer;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: red;
	-webkit-transition: .4s;
	transition: .4s;
}

.onoff .slider:before {
	float: left;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}